<!DOCTYPE html>
<html lang="en">

<head>
    <title>Register</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/register.css">

</head>

<main class="register-container">
    <div class="register-form-row">
        <div id="registerForm">
            <div class="register-title-wrapper">
                <div class="row align-items-center">
                    <div class="col">
                        <h1>Create a new event</h1>
                        <hr>
                    </div>
                    <div class="col login-logo">
                        <img src="/images/Denis Law's Streetsport Logo 2018 WB.jpg" style="">
                    </div>
                </div>

                <form id=register action="/doregister" method="POST">

                    <div class="row credentials-row">
                        <div class="col-md-6">
                            <label style="display: inherit;"><b>Session start time:</b></label>
                            <input type="text" placeholder="Enter First Name" name="first_name" required>
                        </div>
                        <div class="col-md-6">
                            <label style="display: inherit;"><b>Session end time:</b></label>
                            <input type="text" placeholder="Enter Last Name" name="last_name" required>
                        </div>
                        <div class="col-md-6">
                            <label style="display: inherit;"><b>Date:</b></label>
                            <input type="text" placeholder="Enter Date of Birth" name="dob" required>
                        </div>
                        <div class="col-md-6">
                            <label style="display: inherit;"><b>Session name:</b></label>
                            <input type="text" placeholder="Enter Postcode" name="postcode" required>
                        </div>

                        <div class="col-lg-12 mt-3 create-acc-btn-col">

                            <button id="createAccount" type="submit">Create
                                Account</button>
                        </div>
                </form>

            </div>
        </div>

    </div>










</main>




</div>