<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
    <title>Create Session</title>
    <link rel="stylesheet" href="/css/events_page_admin.css">
</head>


<div class="container-navbar">
    <%- include('../partials/nav_admin') %>
</div>



<main class="create-events-container">
    <div class="create-events-row">
        <div id="registerForm">
                <div class="row align-items-center">
                    <div class="col top-col">
                        <h1>Create a new event</h1>
                        <hr>
                    </div>
                    <div class="col login-logo">
                        <img src="/images/Denis Law's Streetsport Logo 2018 WB.jpg">
                    </div>
                </div>

                <form id=create_event action="/createevent" method="POST">

                    <div class="row credentials-row">
                        <div class="col-md-6">
                            <label style="display: inherit;"><b>Session name:</b></label>
                            <input type="text" placeholder="Session name:" name="session_name" required>
                        </div>
                        <div class="col-md-6">
                            <label style="display: inherit;"><b>Session start time:</b></label>
                            <input type="text" placeholder="Session start time:" name="session_start_time" required>
                        </div>
                        <div class="col-md-6">
                            <label style="display: inherit;"><b>Session end time:</b></label>
                            <input type="text" placeholder="Session end time:" name="session_end_time" required>
                        </div>
                        <div class="col-md-6">
                            <label style="display: inherit;"><b>Day of session:</b></label>
                            <input type="text" placeholder="Date:" name="day_of_session" required>
                        </div>
                        <div class="col-md-6">
                            <label style="display: inherit;"><b>Location:</b></label>
                            <input type="text" placeholder="Date:" name="location" required>
                        </div>
                  

                        <div class="col-lg-12 create-session-btn">

                            <button id="createSession" type="submit">Create
                                Session</button>
                        </div>
                </form>

        </div>

    </div>


</main>
