<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
    <title>Events</title>
    <link rel="stylesheet" href="/css/events_page.css">
</head>

<main class="register-container">
    <div class="register-form-row">



        <div class="container-navbar ">
            <%- include('../partials/nav_user') %>
        </div>
    </div>

</main>

<body>
    <div class="event-wrapper">
        <div class="events-row row">
            <div class="col">
                <p class=date> Oct 29th</p>
            </div>
            <div class="col">
                <p class=day>Friday</p>
            </div>
            <div class="col-lg-12 location-col">
                <h1 class="location">Tullos Playing Field</h1>
                <h2 class="time">18:00 - 18:30</h2>
                <div class="attend-btn">
                    <button class="attend-button" type="button">Attend</button>
                </div>
            </div>



        </div>
    </div>
</body>