.body{
    background-color: #f50004;
}

.create-events-container{
    width: 100%;
}

.create-events-row{
    margin: 0 auto;
    width: 60vw;
    max-width: 1200px;
    background-color: white;
    border-radius: 25px;
}