
.event-container {
    background-color: #f50004;
    border-radius: 5px;
    padding: 5px 5px;
    margin: 50px auto;
    width: 65%;
    max-width: 1600px;
}

.event-header-row {
    margin: 0 auto;
    width: 90vw;
    max-width: 1200px;
    background-color: #f50004;
}
.event-content-row {
    background-color:white;
    margin: 0 auto;
    width: 90vw;
    max-width: 1200px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.date{
    padding:30px;
    color:white;
    font-size:24px;
}
.day{
    padding:30px;
    color:white;
    font-size:24px;
}

.time{
    margin:20px;
    font-size:18px
}

.location{
    margin:20px;
}

.single-event-container{
    margin-top: 60px;
}


.container-navbar h1 {
    color: white;
}

.container-navbar h2 {
    color: white;
}

.attend-button {
    background-color: #F9C013;
    border-color: #F9C013;
    padding: 5px;
    border-radius: 25px;
    width: 140px;
    height: 50px;
}

.maincontent{
    padding: 20px;
    
}

.maincontent.container{
    padding: 50px;
}

.qrcodescan-button {
    background-color: black;
    border: none;
    color: white;
    padding: 5px;
    border-radius: 25px;
    
}
