<div class="nav">
  <input type="checkbox" id="nav-check">
  <div class="nav-header">
    <div class="nav-title">
      Denis Law Legacy Trust
    </div>
  </div>
  <div class="nav-btn">
    <label for="nav-check">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>

  <div class="nav-links">
    <a href="create_events">Create Session</a>
    <a href="users">Users</a>
    <a href="events_admin">Sessions</a>

  </div>
</div>