<div class="row">
  <div class="col-8">
    <!-- <img src="images/Denis Law's Streetsport Logo 2018 WB.jpg" alt="Italian Trulli" style="width:70%;height:70%;"> -->
    <h1>Denis Law Legacy Trust</h1>
  </div>
  <div class="col-2">
    <a href="events_admin">
      <h2>Sessions</h2>
    </a>
  </div>
  <div class="col-2">
    <a href="users">
      <h2>Users</h2>
    </a>
  </div>
  <div class="col-2">
    <a href="create_events">
      <h2>Create Session</h2>
    </a>
  </div>
</div>
