body{
    background-color: #f50004;
}
img{
    max-width: 100%;
    height: auto;
}
.create-events-container{
    width: 100%;
}

.create-events-row{
    margin: 0 auto;
    width: 60vw;
    max-width: 1200px;
    background-color: white;
    border-radius: 25px;
}
.create-events-row #registerForm{
    padding: 60px;
}

.create-session-btn{
    text-align: center;
    margin-top: 40px;
}

#createSession{
    background-color: #F9C013;
    border-color: #F9C013;
    padding: 11px 30px;
    border-radius: 6px;
}