body{
    background-color: white;
}
.login-logo img{
    max-width:70%;
    height: auto;
}
.create-events-container{
    width: 100%;
}

.create-events-row{
    margin: 0 auto;
    max-width: 1200px;
    background-color: white;
    border-radius: 25px;
    
}
.create-events-row #registerForm{
    padding: 60px;
    border-style: solid;
    margin-top: 60px;
}

.create-session-btn{
    text-align: center;
    margin-top: 40px;
}
#deleteSession{
    background-color: #F9C013;
    border-color: #F9C013;
    padding: 11px 30px;
    border-radius: 6px;
}

#createSession{
    background-color: #f50004;
    border-color: #f50004;
    padding: 11px 30px;
    border-radius: 6px;
}

@media screen and (max-width:768px) {

    h1 {
        font-size: 1.5rem;
    }

}

@media screen and (max-width: 600px){
    .create-events-row{
        max-width: unset;
    }

    #create_event{
        margin-top: 35px;
    }
    
}