


.container-navbar h1 {
    color: white;
}

.container-navbar h2 {
    color: white;
}

.delete-button {
    background-color: red;
    border-color: red;
    padding: 5px;
    border-radius: 25px;
    width: 140px;
    height: 50px;
    color: white;
}
.single-event-container{
    margin-top: 50px;
    border: solid black;
}
.single-event-container h2{
    color: white;
}
.container-header{
    background-color: black;
    padding: 15px;
}


.editSession-button {
    background-color: #F9C013;
    border-color: #F9C013;
    padding: 5px;
    border-radius: 25px;
    width: 140px;
    height: 50px;
}

.maincontent{
    padding: 20px;
    
}

.show-participants-button{
    background-color: #f50004;
    border-color: #f50004;
    padding: 5px;
    color: white;
    border-radius: 25px;
    width: 140px;
    height: 50px;
}
.qrcode-button {
    background-color: black;
    border: none;
    color: white;
    padding: 5px;
    border-radius: 25px;
    width: 140px;
    height: 50px;
}

.addmanual-button {
    background-color: green;
    border: none;
    color: white;
    padding: 5px;
    border-radius: 25px;
    width: 140px;
    height: 50px;
}
.col-start-time h2{
    color:black
}
@media screen and (max-width:768px){
    .single-event-container button{
        margin-bottom: 20px;
    }

}