.event-wrapper {
    background-color: #f50004;
    border-radius: 5px;
    margin: 50px auto;
    width: 65%;
}

.events-row {

    background-color: #f50004;
}

.location-col {
    background-color: white;
    border-style: solid;
    border-color: #f50004;
    margin-bottom: 2px;
}

.date {
    padding: 30px;
    color: white;
    font-size: 24px;
}

.day {
    padding: 30px;
    color: white;
    font-size: 24px;
    float: right;
}

.time {
    margin: 20px;
    font-size: 18px
}

.location {
    margin: 20px;
}



.container-navbar h1 {
    color: white;
}

.container-navbar h2 {
    color: white;
}

.attend-button {
    background-color: #F9C013;
    border-color: #F9C013;
    padding: 5px;
    border-radius: 25px;
    width: 140px;
    height: 50px;
}

.show-participants-button {
    background-color: #f98e13;
    border-color: #f98e13;
    padding: 5px;
    border-radius: 25px;
    width: 140px;
    height: 50px;
}

.maincontent {
    padding: 20px;

}

.maincontent.container {
    padding: 50px;
}


.qrcode-button {
    background-color: black;
    border: none;
    color: white;
    padding: 5px;
    border-radius: 25px;
    width: 140px;
    height: 50px;
}

.addmanual-button {
    background-color: green;
    border: none;
    color: white;
    padding: 5px;
    border-radius: 25px;
    width: 140px;
    height: 50px;
    margin-bottom: 20px;
}

.location-col button {
    float: right;
}

.attend-btn {
    padding: 10px;
    margin-bottom: 50px;
}

.single-event-container {
    margin-top: 50px;
    margin-bottom: 30px;
    border: solid black;
}

.single-event-container h2 {
    color: white;
}

.container-header {
    background-color: black;
    padding: 15px;
}

.container-header h1 {
   color: white;
}