.userDetails {
  background-color: #f50004;
  border-radius: 5px;
  padding: 5px 5px;
  margin: 50px auto;
  width: 90%;
  max-width: 1600px;
}

.userDetailsHeader {
  padding: 20px 50px;
  color: #fff;
}

.userDetailsBody {
  background-color: #fff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 0;
  display: flex;
}

.left-col {
  flex: 1;
}

.right-col {
  flex: 1;
}

.left-col span:nth-child(even),
.right-col span:nth-child(even) {
  background-color: #bbb;
  color: #fff;
}

.left-col span,
.right-col span {
  padding: 10px;
  display: block;
  text-align: center;}

.searchBar {
  margin: 50px auto;
  width: 90%;
  max-width: 1600px;
}

.searchBar form {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
}

.searchBar input {
  border: none;
  white-space: wrap;
  border-radius: 5px 0px 0px 5px;
  background: #e9e9e9;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex: 1 0 150px;
}

.searchBar button {
  flex: 1 0 50px;
  max-width: 300px;
  border-radius: 0px 5px 5px 0px;
  color: #fff;
  background-color: #f50004;
  border: none;
  cursor: pointer;
}


.container-navbar h1 {
  color: white;
}

.container-navbar h2 {
  color: white;
}

.users-logOut button{
  float: right;
  border-radius: 0px 5px 5px 0px;
  color: #fff;
  background-color: #f50004;
  border: none;
  cursor: pointer;
  margin-bottom: 20px;
}